.ipynb_checkpoints
.idea
catboost_info
data
tf-pose-estimation
tf_pose.egg-info
venv
__pycache__
fphotos.csv
labels.pk
Learning.ipynb
learning.spec
mpl.ipynb
photo.pk
photo.pk
photos.csv
photos2.csv
photos_preparing.spec
pphotos.csv
test.py